:root {
  --nav-height: 80px;
  /* altura base del navbar */
}

.navbar {
  background-color: var(--gray-color);
  padding: 1.25rem 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  height: var(--nav-height);
  /* ← fija la altura del navbar */
  box-sizing: border-box;
  /* padding incluido en la altura */
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  font-weight: 500;
}

.submenu {
  display: none;
  background-color: var(--gray-color);
  width: 100%;
  left: 0;
}

.open-submenu-btn {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.open-submenu-btn>img {
  height: 16px;
}

@media (max-width: 900px) {
  .open-submenu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
    padding: 3rem;
    position: fixed;
    z-index: 5;
    top: -20svh;
  }

  .submenu.open {
    animation: openSubmenu 0.3s forwards;
  }

  .submenu.close {
    animation: closeSubmenu .3s forwards;
  }

  @keyframes openSubmenu {
    0% {
      top: -20svh;
    }

    100% {
      top: calc(var(--nav-height));
    }
  }

  @keyframes closeSubmenu {
    0% {
      top: calc(var(--nav-height));
    }

    100% {
      top: -20svh;
    }
  }

  .navbar-links {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

}

/* Responsive: móviles */
@media (max-width: 600px) {
  :root {
    --nav-height: 64px;
  }

  .nav-title {
    font-size: 1rem;
  }

  .navbar-links {
    font-size: .8rem;
  }
}

/* Extra pequeño */
@media (max-width: 400px) {
  :root {
    --nav-height: 56px;
  }
}