* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #171212;
  --secondary-color: #876363;
  --white-color: #ffffff;
  --lightgray-color: #F5F0F0;
  --red-color: #EB2933;
  --gray-color: #E5E8EB;
}

html {
  font-size: var(--font-size);
  background-color: var(--lightgray-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--primary-color);
}

a{
  text-decoration: none;
  color: var(--primary-color);
}